*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  color: black;
}

fill-remaining-space {
  flex: 1 1 auto;
}

.normal-form {
  margin: 10px;
}

.controles-container {
  background-color: lightgray;
  width: 100%;
  padding: 5%;
}
.controles-container > * {
  width: 100%;
}

.add-button-padding {
  padding-bottom: 10px;
}

.button-row {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.button-clean {
  margin-left: 10px;
}

.img-fondo {
  background-image: url("/src/assets/technology.jpg"); 
  background-color: lightslategray; 
  background-size: cover; 
  background-position: right bottom; 
}