<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
</head>
<body>
    <form [formGroup]="form" class="normal-form" (submit)="initSession(form.value)">
        <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2"></mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="2">
                <div class="controles-container">
                    <mat-form-field>
                        <input type="text" matInput formControlName="user" placeholder="Nombre Usuario" />
                        <mat-error>El campo Usuario es obligatorio</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="email" matInput formControlName="email" placeholder="Ingresar Email" />
                        <mat-error>Dirección de correo electrónico inválido</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput formControlName="password" placeholder="Ingresar Password" />
                        <mat-error *ngIf="form.controls['password'].errors?.required">El Password debe ser Requerido</mat-error>
                        <mat-error *ngIf="form.controls['password'].errors?.minlength">El Password debe contener al menos 6 caracteres</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput formControlName="confirmPassword" placeholder="Confirmar Password" />
                        <mat-error *ngIf="form.controls['confirmPassword'].errors?.minlength">El Password debe contener al menos 6 caracteres</mat-error>
                    </mat-form-field>
                    <div class="button-row">
                        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Enviar</button>
                        <button type="submit" mat-raised-button color="primary" class="button-clean" (click)="onClear()">Limpiar</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>    
</body>
</html>