<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <mat-grid-list cols="3">
  <h1>Gráfico Balanceo de Gastos</h1>
  <mat-grid-tile>
      <canvas class="design" baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="chartList">
      <span class="badge badge-light" style="background-color: #00b3b3; height: 35px; width: 35px;">$800 USD</span><br>
      <label style="margin-top: 10%;"><b>Comisiones</b></label>
    </div>
    <div class="chartList">
      <span class="badge badge-light" style="background-color: #ff6666; height: 35px; width: 35px;">$5000 USD</span><br>
      <label style="margin-top: 10%;"><b>Monto Ingresos</b><br></label>
    </div>
    <div class="chartList">
      <span class="badge badge-light" style="background-color: #0099CC; height: 35px; width: 35px;">$500 USD</span><br>
      <label style="margin-top: 10%;"><b>Cantidad utilizada</b></label>
    </div>       
  </mat-grid-tile>
</mat-grid-list> -->