/* .chartList {
font-size: 14px;
font-weight: bold;
margin: 0px 20px;
}

.chartIncomes {
display: flex;
}

.design {
    max-width: 500px;
    max-height: 500px;
    height: 95%;
    width: 95%;
}

h1 {
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: lightseagreen;
} */