<footer>
    <div class="footer-content">
        <h3>IES Systems</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eos autem officia minus quisquam.</p>
        <ul class="socials">
            <li><a href="#"><span class="material-icons">facebook</span></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 Javascript coding. All right reserved <span>IES Systems</span></p>
    </div>
</footer>