<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form [formGroup]="form" class="normal-form" (submit)="sendData(form.value)">
        <mat-grid-list cols="4" rowHeight="150px">
            <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
                <div class="button-row btn-align">
                    <button type="button" mat-raised-button color="primary" (click)="logout()">Logout</button>
                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="1"></mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="2">
                <div class="controles-container">
                    <mat-form-field>
                        <mat-label>Fecha de Reservacion</mat-label>
                        <input matInput formControlName="fechaReserva" name="fechaReserva" [min]="min" [max]="max" [matDatepicker]="myDatePicker">
                        <mat-error>Fecha de Reservación es Requerida</mat-error>
                        <mat-datepicker-toggle [for]="myDatePicker" matSuffix>
                            <mat-icon matDatepickerToggleIcon>mouse</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #myDatePicker startView="year" color="warn"></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="email" matInput formControlName="email" name="email" placeholder="Ingresar Email" />
                        <mat-error>Dirección de correo electrónico inválida</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput formControlName="nombre" name="nombre" placeholder="Ingresar Nombre" />
                        <mat-error>El campo de Nombre es obligatorio</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Seleccionar País</mat-label>
                      <mat-select formControlName="pais" name="pais">
                        <mat-option>Selected</mat-option>
                        <mat-option value="Cabo Verde">Cabo Verde</mat-option>
                    </mat-select>
                    <mat-error>El campo del Pais es obligatorio</mat-error>
                </mat-form-field>
                    <div class="button-row">
                        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Enviar</button>
                        <button type="submit" mat-raised-button color="primary" class="button-clean" (click)="onClear()">Limpiar</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>    
</body>
</html>
  