*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    color: black;
  }
  
  .normal-form {
    margin: 10px;
  }
  
  .controles-container {
    background-color: lightgray;
    width: 100%;
    padding: 5%;
  }
  .controles-container > * {
    width: 100%;
  }
  
  .add-button-padding {
    padding-bottom: 10px;
  }
  
  .button-row {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .button-clean {
    margin-left: 10px;
  }

  .btn-align {
    padding-bottom: 250px;
    margin-left: 250px;
  }