<mat-toolbar color="primary">
  <span>IES Systems</span>
  <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Home</a>
  <a mat-button routerLink="/component1">Componente 1</a>
  <a mat-button routerLink="/login">Login</a>
</mat-toolbar>
